<!DOCTYPE html>
<html lang="en">
<head>
  <title>Smart TODO App</title>


  <!-- Bootstrap responsive view -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <!--Font CSS-->
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Bungee&family=Roboto+Condensed:wght@700&family=Source+Sans+Pro:ital,wght@0,300;0,400;0,600;1,300;1,400;1,600&display=swap" rel="stylesheet">
  <!-- google font -->
    <link href="https://fonts.googleapis.com/css?family=Quicksand%7CReem+Kufi" rel="stylesheet">

  <!-- font awesome -->
  <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">

  <!-- stylesheets -->

 <link rel="stylesheet" href="/vendor/normalize-4.1.1.css" type="text/css" />
  <link rel="stylesheet" href="/vendor/border-box.css" type="text/css" />
    <link rel="stylesheet" href="/styles/main.css" type="text/css" />
   <link rel="stylesheet" href="/styles/layout.css" type="text/css" />
    <link rel="stylesheet" href="/styles/categories-list.css" type="text/css" />
    <link rel="stylesheet" href="/styles/nav.css" type="text/css" />


     <!-- Bootstrap css -->
     <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/css/bootstrap.min.css">
     <script src="https://cdn.jsdelivr.net/npm/jquery@3.5.1/dist/jquery.slim.min.js"></script>
     <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"></script>
     <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/js/bootstrap.bundle.min.js"></script>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">

  <!-- scripts -->
   <script type="text/javascript" src="/vendor/jquery-3.0.0.js"></script>
  <script type="text/javascript" src="/scripts/app.js"></script>
</head>
<body>


  <% include ./partials/header %>

     <br>
    <div class="container">
      <!--adding a new todo-->
      <div class="container add-item" id="new-todo" action="/todo" method="POST">
      <div class="d-flex">
      <form class="input-group p-2" method="post" action="/todo/add">
        <input id="itemInput" class="form-control todo-item" placeholder="Add a ToDo!" name="item">
        <button id="itemSubmit" class="btn btn-secondary input-group-addon add-btn">Add</button>
      </form>
    </div>
    </div>
    <br><br>

    <h2 style="text-align: center;">A List of Your TODOS</h2>
    <br>

          <!--list of the categories-->
        <div class="row">
      <div class="col-sm-4">
        <div class="card text-dark bg-light">
        <div class="card-header bg-dark text-center text-light"><h4>To Eat</h4></div>
          <div class="card-body ">
            <!--Starting list todo items here -->
                <div class="list-group">
                  <table class="table">
                    <tbody>
                      <% for (let user of users) { %>
                        <%if (user.category === 'eat' ){%>
                        <tr>
                          <td class = "itemName">
                           <!-- Button to Open the Modal -->
                           <button type="button" class="btn btn-light itemBtn" style="text-align: left;"data-toggle="modal" data-target="#myModal<%= user.todoid %>">
                            <%= user.todoitem %>
                           </button>

                           <!-- The Modal -->
                           <div class="modal" id="myModal<%= user.todoid %>">
                            <div class="modal-dialog">
                             <div class="modal-content">

                        <!-- Modal Header -->
                              <div class="modal-header">
                              <h4 class="modal-title"> <%= user.todoitem %></h4>
                              <button type="button" class="close" data-dismiss="modal">&times;</button>
                              </div>

                        <!-- Modal body -->
                             <div class="modal-body">
                              <table class="table">
                                <tbody>
                                  <tr>
                                    <th scope="row">Category:</th>
                                    <td><%= user.category %></td>
                                  </tr>
                                  <tr>
                                    <th scope="row">Location</th>
                                    <td><%= user.location %></td>
                                  </tr>
                                  <tr>
                                    <th scope="row">DueDate</th>
                                    <td><%= user.duedate %></td>
                                  </tr>
                                </tbody>
                              </table>
                             </div>

                        <!-- Modal footer -->
                            <div class="modal-footer">
                              <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
                            </div>

                              </div>
                            </div>
                           </div>
                          </td>
                          <td >
                            <!--edit and delete buttons-->
                            <div class="actionBtns" >
                              <div>
                                <a href="/todo/<%= user.todoid %>">
                                  <input
                                    style="padding:2px 8px; margin-right: 0.5em;"
                                    class="trigger_popup btn btn-outline-primary"
                                    type="submit"
                                    value="Edit"
                                  />
                              </div>
                              <div>
                                <form style="display: inline-block;" method="POST" action="/todo/<%= user.todoid %>/delete">
                                <button style="padding:2px;" class="btn btn-outline-danger">Delete</button>
                                                            </form>
                              </div>

                          </div>
                          </td>
                        </tr>
                        <% }  %>
                        <% }  %>
                    </tbody>
                  </table>
                </div>
              <!--Ends here -->
          </div>
        </div>
      </div>

      <div class="col-sm-4">
        <div class="card text-dark bg-light">
        <div class="card-header bg-dark text-center text-light"><h4>To Read</h4></div>
          <div class="card-body ">
                <div class="list-group">
                  <table class="table">
                    <tbody>
                      <% for (let user of users) { %>
                        <%if (user.category === 'read' ){%>
                          <tr>
                            <td class = "itemName">
                             <!-- Button to Open the Modal -->
                             <button type="button" class="btn btn-light itemBtn" style="text-align: left;"data-toggle="modal" data-target="#myModal<%= user.todoid %>">
                              <%= user.todoitem %>
                             </button>

                             <!-- The Modal -->
                             <div class="modal" id="myModal<%= user.todoid %>">
                              <div class="modal-dialog">
                               <div class="modal-content">

                          <!-- Modal Header -->
                                <div class="modal-header">
                                <h4 class="modal-title"> <%= user.todoitem %></h4>
                                <button type="button" class="close" data-dismiss="modal">&times;</button>
                                </div>

                          <!-- Modal body -->
                               <div class="modal-body">
                                <table class="table">
                                  <tbody>
                                    <tr>
                                      <th scope="row">Category:</th>
                                      <td><%= user.category %></td>
                                    </tr>
                                    <tr>
                                      <th scope="row">Location</th>
                                      <td><%= user.location %></td>
                                    </tr>
                                    <tr>
                                      <th scope="row">DueDate</th>
                                      <td><%= user.duedate %></td>
                                    </tr>
                                  </tbody>
                                </table>
                               </div>

                          <!-- Modal footer -->
                              <div class="modal-footer">
                                <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
                              </div>

                                </div>
                              </div>
                             </div>
                            </td>
                            <td >
                              <!--edit and delete buttons-->
                              <div class="actionBtns" >
                                <div>
                                  <a href="/todo/<%= user.todoid %>">
                                    <input
                                      style="padding:2px 8px; margin-right: 0.5em;"
                                      class="trigger_popup btn btn-outline-primary"
                                      type="submit"
                                      value="Edit"
                                    />
                                </div>
                                <div>
                                  <form style="display: inline-block;" method="POST" action="/todo/<%= user.todoid %>/delete">
                                  <button style="padding:2px;" class="btn btn-outline-danger">Delete</button>
                                                              </form>
                                </div>

                            </div>
                            </td>
                          </tr>
                        <% }  %>
                        <% }  %>
                    </tbody>
                  </table>
                </div>
              <!--Ends here -->
          </div>
        </div>
      </div>


      <div class="col-sm-4">
        <div class="card text-dark bg-light">
        <div class="card-header bg-dark text-center text-light"><span style="white-space: nowrap;"><h4>To Watch</h4></div>
          <div class="card-body ">
            <!--Starting list todo items here -->
                <div class="list-group">
                  <table class="table">
                    <tbody>
                      <% for (let user of users) { %>
                        <%if (user.category === 'watch' ){%>
                          <tr>
                            <td class = "itemName">
                             <!-- Button to Open the Modal -->
                             <button type="button" class="btn btn-light itemBtn" style="text-align: left;"data-toggle="modal" data-target="#myModal<%= user.todoid %>">
                              <%= user.todoitem %>
                             </button>

                             <!-- The Modal -->
                             <div class="modal" id="myModal<%= user.todoid %>">
                              <div class="modal-dialog">
                               <div class="modal-content">

                          <!-- Modal Header -->
                                <div class="modal-header">
                                <h4 class="modal-title"> <%= user.todoitem %></h4>
                                <button type="button" class="close" data-dismiss="modal">&times;</button>
                                </div>

                          <!-- Modal body -->
                               <div class="modal-body">
                                <table class="table">
                                  <tbody>
                                    <tr>
                                      <th scope="row">Category:</th>
                                      <td><%= user.category %></td>
                                    </tr>
                                    <tr>
                                      <th scope="row">Location</th>
                                      <td><%= user.location %></td>
                                    </tr>
                                    <tr>
                                      <th scope="row">DueDate</th>
                                      <td><%= user.duedate %></td>
                                    </tr>
                                  </tbody>
                                </table>
                               </div>

                          <!-- Modal footer -->
                              <div class="modal-footer">
                                <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
                              </div>

                                </div>
                              </div>
                             </div>
                            </td>
                            <td >
                              <!--edit and delete buttons-->
                              <div class="actionBtns" >
                                <div>
                                  <a href="/todo/<%= user.todoid %>">
                                    <input
                                      style="padding:2px 8px; margin-right: 0.5em;"
                                      class="trigger_popup btn btn-outline-primary"
                                      type="submit"
                                      value="Edit"
                                    />
                                </div>
                                <div>
                                  <form style="display: inline-block;" method="POST" action="/todo/<%= user.todoid %>/delete">
                                  <button style="padding:2px;" class="btn btn-outline-danger">Delete</button>
                                                              </form>
                                </div>

                            </div>
                            </td>
                          </tr>
                        <% }  %>
                        <% }  %>
                    </tbody>
                  </table>
              <!--Ends here -->
          </div>
        </div>
      </div>
    </div>


    </div>
    <br><br>
    <div class="row">
      <div class="col-sm-4">
        <div class="card text-dark bg-light">
        <div class="card-header bg-dark text-center text-light"><h4>To Buy</h4></div>
          <div class="card-body ">
            <!--Starting list todo items here -->
                <div class="list-group">
                  <table class="table">
                    <tbody>
                      <% for (let user of users) { %>
                        <%if (user.category === 'buy' ){%>
                          <tr>
                            <td class = "itemName">
                             <!-- Button to Open the Modal -->
                             <button type="button" class="btn btn-light itemBtn" style="text-align: left;"data-toggle="modal" data-target="#myModal<%= user.todoid %>">
                              <%= user.todoitem %>
                             </button>

                             <!-- The Modal -->
                             <div class="modal" id="myModal<%= user.todoid %>">
                              <div class="modal-dialog">
                               <div class="modal-content">

                          <!-- Modal Header -->
                                <div class="modal-header">
                                <h4 class="modal-title"> <%= user.todoitem %></h4>
                                <button type="button" class="close" data-dismiss="modal">&times;</button>
                                </div>

                          <!-- Modal body -->
                               <div class="modal-body">
                                <table class="table">
                                  <tbody>
                                    <tr>
                                      <th scope="row">Category:</th>
                                      <td><%= user.category %></td>
                                    </tr>
                                    <tr>
                                      <th scope="row">Location</th>
                                      <td><%= user.location %></td>
                                    </tr>
                                    <tr>
                                      <th scope="row">DueDate</th>
                                      <td><%= user.duedate %></td>
                                    </tr>
                                  </tbody>
                                </table>
                               </div>

                          <!-- Modal footer -->
                              <div class="modal-footer">
                                <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
                              </div>

                                </div>
                              </div>
                             </div>
                            </td>
                            <td >
                              <!--edit and delete buttons-->
                              <div class="actionBtns" >
                                <div>
                                  <a href="/todo/<%= user.todoid %>">
                                    <input
                                      style="padding:2px 8px; margin-right: 0.5em;"
                                      class="trigger_popup btn btn-outline-primary"
                                      type="submit"
                                      value="Edit"
                                    />
                                </div>
                                <div>
                                  <form style="display: inline-block;" method="POST" action="/todo/<%= user.todoid %>/delete">
                                  <button style="padding:2px;" class="btn btn-outline-danger">Delete</button>
                                                              </form>
                                </div>

                            </div>
                            </td>
                          </tr>
                        <% }  %>
                        <% }  %>
                    </tbody>
                  </table>
                </div>
              <!--Ends here -->
          </div>
        </div>
      </div>


      <div class="col-sm-4">
        <div class="card text-dark bg-light">
        <div class="card-header bg-dark text-center text-light"><h4>Unclassified</h4></div>
          <div class="card-body ">
            <!--Starting list todo items here -->
                <div class="list-group">
                  <table class="table">
                    <tbody>
                      <% for (let user of users) { %>
                        <%if (user.category === 'various' ){%>
                          <tr>
                            <td class = "itemName">
                             <!-- Button to Open the Modal -->
                             <button type="button" class="btn btn-light itemBtn" style="text-align: left;"data-toggle="modal" data-target="#myModal<%= user.todoid %>">
                              <%= user.todoitem %>
                             </button>

                             <!-- The Modal -->
                             <div class="modal" id="myModal<%= user.todoid %>">
                              <div class="modal-dialog">
                               <div class="modal-content">

                          <!-- Modal Header -->
                                <div class="modal-header">
                                <h4 class="modal-title"> <%= user.todoitem %></h4>
                                <button type="button" class="close" data-dismiss="modal">&times;</button>
                                </div>

                          <!-- Modal body -->
                               <div class="modal-body">
                                <table class="table">
                                  <tbody>
                                    <tr>
                                      <th scope="row">Category:</th>
                                      <td><%= user.category %></td>
                                    </tr>
                                    <tr>
                                      <th scope="row">Location</th>
                                      <td><%= user.location %></td>
                                    </tr>
                                    <tr>
                                      <th scope="row">DueDate</th>
                                      <td><%= user.duedate %></td>
                                    </tr>
                                  </tbody>
                                </table>
                               </div>

                          <!-- Modal footer -->
                              <div class="modal-footer">
                                <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
                              </div>

                                </div>
                              </div>
                             </div>
                            </td>
                            <td >
                              <!--edit and delete buttons-->
                              <div class="actionBtns" >
                                <div>
                                  <a href="/todo/<%= user.todoid %>">
                                    <input
                                      style="padding:2px 8px; margin-right: 0.5em;"
                                      class="trigger_popup btn btn-outline-primary"
                                      type="submit"
                                      value="Edit"
                                    />
                                </div>
                                <div>
                                  <form style="display: inline-block;" method="POST" action="/todo/<%= user.todoid %>/delete">
                                  <button style="padding:2px;" class="btn btn-outline-danger">Delete</button>
                                                              </form>
                                </div>

                            </div>
                            </td>
                          </tr>
                        <% }  %>
                        <% }  %>
                    </tbody>
                  </table>
                </div>
              <!--Ends here -->
          </div>
        </div>
      </div>
    </div>
    </div>
<<<<<<< HEAD


=======
>>>>>>> 6845a2eaca00d03e471b901a141f783471698508
</body>
